<template>
    <div class="container-fluid product-card-container d-flex">
        <div class="container">
            <div class="row product-cards-wrapper my-4 py-1">
                <div class="col-12 product-card">
                    <div class="row">
                        <div class="col-lg-6 form-wrapper px-5">
                            <div class="row headers-row">
                                <div class="col-12 text-left">
                                    <h4>Корзина</h4>
                                    <hr>
                                    <a @click="comeBack" class="back-btn">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                        вернуться назад
                                    </a>
                                </div>
                            </div>
                            <form @submit.prevent="finishStep" id="basket-form" class="py-2">
                                <h5 class="form-header text-center">Оформить заказ</h5>
                                <div class="active-form-indicators d-flex align-items-center justify-content-between">
                                    <span @click="firstStep = true" class="indicator"
                                          :class="{'active-indicator':firstStep}">
                                        1. Личные данные
                                    </span>
                                    <hr>
                                    <span @click="nextStep" class="indicator" :class="{'active-indicator':!firstStep}">
                                        2. Оплата и доставка
                                    </span>
                                </div>
                                <div class="inputs-group text-center" v-if="firstStep">
                                    <div class="form-group">
                                        <input v-model="name" name="name" class="my-2" type="text"
                                               :class="{'is-invalid' : !nameValidate}" placeholder="Ф.И.О" required>
                                        <small v-if="!nameValidate" class="is-invalid-small">
                                            * поле обязательное для заполнения
                                        </small>
                                    </div>

                                    <div class="form-group">
                                        <input v-model="email" name="email" class="my-2" type="email" placeholder="Email">
                                    </div>

                                    <div class="form-group">
                                        <input v-model="phone" name="phone" v-mask="'+38 (###) ###-####'"
                                               :class="{'is-invalid' : !phoneValidate}" class="my-2" type="tel"
                                               placeholder="Номер телефона" required>
                                        <small v-if="!phoneValidate" class="is-invalid-small">
                                            * поле обязательное для заполнения
                                        </small>
                                    </div>

                                    <a class="mda-btn" @click="nextStep">Далее</a>
                                </div>

                                <div class="inputs-group text-center" v-else="">
                                    <div class="form-group">
                                        <input v-model="city" :class="{'is-invalid' : !cityValidate}" ref="city" name="city" class="my-2" type="text"
                                               placeholder="Город" required>
                                        <small v-if="!cityValidate" class="is-invalid-small">
                                            * поле обязательное для заполнения
                                        </small>
                                    </div>

                                    <div class="radio-group row align-items-center">
                                        <div class="radio-btn-wrapper col-lg-4 d-flex align-items-center">
                                            <input v-model="delivery" value="Новая Почта" type="radio" id="nova_posta"
                                                   class="radio-btn" checked>
                                            <label for="nova_posta">Новая Почта</label>
                                        </div>
                                        <div class="radio-btn-wrapper col-lg-4 d-flex align-items-center">
                                            <input v-model="delivery" value="Ин Тайм" type="radio" id="in_time"
                                                   class="radio-btn">
                                            <label for="in_time">Ин Тайм</label>
                                        </div>
                                        <div class="radio-btn-wrapper col-lg-4 d-flex align-items-center">
                                            <input v-model="delivery" value="Адресная доставка" type="radio"
                                                   id="address" class="radio-btn">
                                            <label for="address">Адресная доставка</label>
                                        </div>
                                        <small v-if="!deliveryValidate" class="text-center w-100 is-invalid-small">
                                            * укажите способ доставки
                                        </small>
                                    </div>

                                    <div class="form-group">
                                        <input v-model="address" :class="{'is-invalid' : !addressValidate}" name="address" class="my-2" type="text"
                                               placeholder="Адрес доставки или номер отделения"
                                               required>
                                        <small v-if="!addressValidate" class="is-invalid-small">
                                            * поле обязательное для заполнения
                                        </small>
                                    </div>
                                    <div class="radio-group row align-items-center">
                                        <div class="radio-btn-wrapper col-lg-6 d-flex align-items-center">
                                            <input v-model="payment" type="radio" value="Наложенный платеж" id="cod"
                                                   class="radio-btn" checked>
                                            <label for="cod">Наложенный платеж</label>
                                        </div>
                                        <div class="radio-btn-wrapper col-lg-6 d-flex align-items-center">
                                            <input v-model="payment" type="radio" value="Оплата картой" id="credit_card"
                                                   class="radio-btn">
                                            <label for="credit_card">Оплата картой</label>
                                        </div>
                                        <small v-if="!paymentValidate" class="text-center w-100 is-invalid-small">
                                            * укажите способ оплаты
                                        </small>
                                    </div>

                                    <button class="mda-btn">Оформить</button>
                                </div>
                            </form>
                            <div v-if="products.length !== 0" class="row total-price-row pb-3">
                                <div class="col-12 text-center">
                                    <p>К оплате:
                                        <span class="total-price ml-3">{{total}}</span>
                                        <span class="currency">грн</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 product-preview pb-3">
                            <div v-for="(product, index) in products" class="row product-price-row card-element">
                                <div class="col-12 delete-product-btn-wrapper d-lg-none">
                                    <div @click="deleteProduct(index, product.product_id)"
                                         class="delete-product-btn ml-auto">
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 product-preview-img text-center py-5">
                                    <img v-if="product.photo" :src="product.photo" onerror="this.src='/img/no_photo.png'" alt="" class="img-fluid">
                                    <img v-else="" src="/img/no_photo.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-around product-counter flex-column product-price-wrapper">
                                    <div class="row d-none d-lg-flex align-self-end">
                                        <div class="col-12 delete-product-btn-wrapper">
                                            <div @click="deleteProduct(index, product.product_id)"
                                                 class="delete-product-btn">
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 ">
                                            <h6>{{product.name}}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="product-price">
                                                 {{(product.end_rozn_price * product.count).toFixed(2)}} грн
                                            </span>
                                        </div>
                                        <div class="col-12">
                                            <button @click="decrementCount(index, product.product_id)"
                                                    class="circle-btn">-
                                            </button>
                                            <span class="product-counter mx-3">{{product.count}}</span>
                                            <button @click="incrementCount(index, product.product_id)"
                                                    class="circle-btn">+
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Basket",
        props: {
            data: String,
        },
        data: function () {
            return {
                products: [],
                firstStep: true,

                name: '',
                email: '',
                phone: '',
                city: '',
                delivery: '',
                address: '',
                payment: '',

                nameValidate: true,
                phoneValidate: true,
                cityValidate: true,
                deliveryValidate: true,
                addressValidate: true,
                paymentValidate: true,
            }
        },
        computed: {
            total() {
                let price = 0;
                for (let i = 0; i < this.products.length; i++) {
                    price += (+this.products[i].end_rozn_price * this.products[i].count);
                }
                return price.toFixed(2);
            }
        },
        mounted() {
            this.products = JSON.parse(this.data);
        },
        methods: {
            getTotalPrice() {
                let price = 0;
                for (let i = 0; i < this.products.length; i++) {
                    price += (+this.products[i].end_rozn_price * this.products[i].count);
                }
                return price.toFixed(2);
            },
            comeBack() {
                history.back();
            },
            deleteProduct(index, id) {
                this.products.splice(index, 1);
                this.$root.removeFromBasket(id);
            },
            incrementCount(index, id) {
                if (this.products[index].count <= 200) {
                    this.products[index].count++;
                    this.$root.editFromBasket(id, this.products[index].count);
                }
            },
            decrementCount(index, id) {
                if (this.products[index].count > 1) {
                    this.products[index].count--;
                    this.$root.editFromBasket(id, this.products[index].count);
                }
            },
            nextStep() {
                this.nameValidate = true;
                this.phoneValidate = true;
                if (this.name && this.phone) {
                    this.firstStep = false;
                } else {
                    if (!this.name) {
                        this.nameValidate = false;
                    }
                    if (!this.phone) {
                        this.phoneValidate = false;
                    }
                }
            },
            finishStep() {
                this.cityValidate = true;
                this.deliveryValidate = true;
                this.addressValidate = true;
                this.paymentValidate = true;
                if (this.city && this.delivery && this.address && this.payment) {
                    axios.post('/order', {
                        name: this.name,
                        email: this.email,
                        phone: this.phone,
                        city: this.city,
                        delivery: this.delivery,
                        address: this.address,
                        payment: this.payment,
                        products: this.products,
                    }).then((res) => {
                        alert('Ваш заказ успешно оформлен! С Вами свяжутся в ближайшее время.');
                        window.location.replace('/');
                    }).catch(err => {
                        alert('Ой... Произошла ошибка! Проверьте правильность введённых данных.');
                    });
                } else {
                    if (!this.city) {
                        this.cityValidate = false;
                    }
                    if (!this.delivery) {
                        this.deliveryValidate = false;
                    }
                    if (!this.address) {
                        this.addressValidate = false;
                    }
                    if (!this.payment) {
                        this.paymentValidate = false;
                    }
                }
            }
        }
    }
</script>

<style scoped>
    input {
        cursor: text;
    }

    .headers-row a {
        color: #999 !important;
        cursor: pointer;
    }

    .indicator {
        cursor: pointer;
    }

    .form-group {
        margin-bottom: 0;
    }

    #basket-form a {
        color: #fff;
    }

    #basket-form .is-invalid {
        border-color: #e90a0b;
    }

    #basket-form .is-invalid-small {
        color: #e90a0b;
    }
</style>