<template>
    <div class="container-fluid shop-container">
        <div class="container">
            <div class="row sorting-row">
                <div class="col-lg-4 offset-lg-8 text-right">
                    <select @change="setApi" v-model="order" name="sorting-type" id="sorting">
                        <option value="asc">От дешевых к дорогим</option>
                        <option value="desc">От дорогих к дешевым</option>
                    </select>
                </div>
            </div>
            <div class="row shop-main-row py-3">
                <div class="col-12 col-md-3 filters-wrapper">
                    <div class="filter p-3 mb-5">
                        <div class="row range-wrapper">
                            <div class="col-12 text-left">
                                <span class="filter-name">Цена</span>
                                <!--   <vue-slider class="mt-5" ref="slider" v-bind="slider_props" v-model="price"
                                               :max="max" :min="min">
                                   </vue-slider>-->
                            </div>
                            <div class="col-6 text-left">
                                <label for="minPrice" class="mt-2">
                                    От
                                    <input type="number" name="minPrice" class="form-control" placeholder="От"
                                           v-model="price[0]" @change="changeMinPrice" :min="min" id="minPrice"
                                           style="box-shadow: none; cursor: text;">
                                </label>
                            </div>
                            <div class="col-6 text-left">
                                <label for="maxPrice" class="mt-2">
                                    До
                                    <input type="number" name="maxPrice" class="form-control" placeholder="До"
                                           v-model="price[1]" @change="changeMaxPrice" :max="max" id="maxPrice"
                                           style="box-shadow: none; cursor: text;">
                                </label>
                            </div>
                        </div>
                        <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="brand" class="mt-2">
                                    Бренд
                                </label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <select v-model="brand" id="brand">
                                            <option value="">Все</option>
                                            <option v-for="brand in brands" :value="brand">
                                                {{brand}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="dia" class="mt-2 filter-name">DIA</label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <select v-model="dia" id="dia">
                                            <option value="">Все</option>
                                            <option v-for="dia in dias" :value="dia">
                                                {{dia}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="diameterDisk" class="mt-2 filter-name">Ширина</label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <select v-model="width" id="width">
                                            <option value="">Все</option>
                                            <option v-for="width in widths" :value="width">
                                                {{width}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="diameterDisk" class="mt-2 filter-name">Диаметр</label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <select v-model="diameter" id="diameterDisk">
                                            <option value="">Все</option>
                                            <option v-for="diameter in diameters" :value="diameter">
                                                {{diameter}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="pcd" class="mt-2 filter-name">PCD</label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <select v-model="pcd" id="pcd">
                                            <option value="">Все</option>
                                            <option v-for="pcd in pcds" :value="pcd">
                                                {{pcd}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="from_et" class="mt-2 filter-name"> ET от</label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <select v-model="from_et" @change="setToEtList()" id="from_et">
                                            <option value="">Неважно</option>
                                            <option v-for="et in ets" :value="et">
                                                {{et}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="to_et" class="mt-2">ET до</label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <select v-model="to_et" id="to_et">
                                            <option value="">Неважно</option>
                                            <option v-for="et in toEtList" :value="et">
                                                {{et}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="countProduct" class="mt-2">Количество</label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <input v-model="countProduct" id="countProduct" type="number" min="1" class="form-control" style="box-shadow: none">
                                    </div>
                                </div>
                            </div>
                        </div>
                     <!--   <div class="row params-wrapper py-1">
                            <div class="col-12 text-left">
                                <label for="typeDisk" class="mt-2">Тип</label>
                            </div>
                            <div class="col-12 season-filter-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <select v-model="type" id="typeDisk">
                                            <option value="">Неважно</option>
                                            <option value="Стальной">Стальной</option>
                                            <option value="Литой">Литой</option>
                                            <option value="Кованый">Кованый</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-12 text-center">
                                <button @click="setApi" class="mda-btn">
                                    Подобрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 products-main-wrapper px-5" id="catalog">
                    <div class="row products-row">
                        <div v-if="disks.data.length === 0" class="col-12 text-center no-results-wrapper">
                            <p>Поиск не дал результатов</p>
                        </div>
                        <div v-else="" v-for="(disk, index) in disks.data" :key="disk.product_id" class="col-12 col-md-6 col-lg-4 product-wrapper mb-2">
                            <div class="row product">
                                <div class="col-12">
                                    <a :href="'/disk/' + disk.product_id" class="product-link">
                                        <div class="row">
                                            <div class="col-12 product-img text-center">
                                                <img v-if="disk.photo" onerror="this.src='/img/no_photo.png'" :src="disk.photo" class="img-fluid my-3">
                                                <img v-else src="/img/no_photo.png" class="img-fluid my-3">
                                            </div>
                                        </div>
                                        <div class="row product-name">
                                            <div class="col-12 text-left my-2">
                                                <span>{{disk.name}}</span>
                                            </div>
                                        </div>
                                    </a>
                                        <div class="row price-row align-items-center justify-content-center mb-3">
                                            <div class=" col-6 product-price text-left">
                                                <span class="price">{{disk.end_rozn_price}} грн</span>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button v-if="!disk.inCart"
                                                        @click="addToCart(disk.product_id, index)" class="mda-btn m-0">
                                                    Купить
                                                </button>
                                                <button v-else="!disk.inCart"
                                                        @click="removeFromCart(disk.product_id, index)" class="mda-btn m-0"
                                                        style="opacity: .6">
                                                    Убрать
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <pagination :data="disks" :limit="limit" @pagination-change-page="getResults">
                            <span slot="prev-nav">Назад</span>
                            <span slot="next-nav">Далее</span>
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vueSlider from 'vue-slider-component';
    import {scroller} from 'vue-scrollto/src/scrollTo'

    const scrollTo = scroller();

    export default {
        name: "DiskCatalog",
        props: {
            data: String
        },
        components: {
            vueSlider,
        },
        data: function () {
            return {
                disks: {},
                windowWidth: window.innerWidth,
                api: window.location.href + (window.location.href.indexOf('?') !== -1 ? '&' : '?'),

                min: 400,
                max: 10000,
                slider_props: {
                    width: "auto",
                    direction: "horizontal",
                    dotWidth: 24,
                    dotHeight: 24,
                    eventType: "auto",
                    disabled: false,
                    show: true,
                    realTime: true,
                    tooltip: "always",
                    clickable: true,
                    piecewise: false,
                    lazy: false,
                    reverse: false,
                    speed: 0.5,
                    formatter: "{value}грн",
                    tooltipStyle: {
                        "backgroundColor": "#e90a0b",
                        "borderColor": "#e90a0b"
                    },
                    processStyle: {
                        "backgroundColor": "#e90a0b",
                    },
                },

                price: [900, 10000],
                order: 'asc',
                brand: '',
                diameter: '',
                width: '',
                pcd: '',
                from_et: '',
                to_et: '',
                type: '',
                dia: '',
                toEtList: [],
                countProduct: 4,

                products: [],
                brands: [],
                diameters: [],
                pcds: [],
                ets: [],
                dias: [],
                widths: [],
            }
        },
        mounted() {
            this.getFilterData();
            this.getResults();
            this.setParams();
            window.onresize = (event) => {
                this.windowWidth = window.innerWidth;
            };
        },
        computed: {
            limit() {
                if (this.windowWidth <= 576) return -1;
                if (this.windowWidth <= 992) return 2;
                if (this.windowWidth <= 1200) return 3;
                else return 4;
            },
            filter() {
                return `/disks?price_from=${this.price[0]}&price_to=${this.price[1]}&brand=${this.brand}&type=${this.type}&width=${this.width}&diameter=${this.diameter}&pcd=${this.pcd}&from_et=${this.from_et}&to_et=${this.to_et}&dia=${this.dia}&order=${this.order}&count=${this.countProduct}&`;
            },
            params() {
                return JSON.parse(this.data);
            }
        },
        methods: {
            getResults(page = 1) {
                axios.get(`${this.api}page=${page}`).then(res => {
                    this.disks = res.data;
                    for (let index in this.disks.data) {
                        this.disks.data[index].inCart = this.$cookies.isKey(this.disks.data[index].product_id);
                    }
                    scrollTo('#app');
                });
            },
            getFilterData() {
                axios.get('/getFilterDataForDisks').then(res => {
                    this.min = +res.data.minPrice;
                    this.max = +res.data.maxPrice;
                    this.price = [this.min, this.max];
                    this.brands = res.data.brands;
                    this.pcds = res.data.pcd;
                    this.widths = res.data.width;
                    this.ets = res.data.et;
                    this.diameters = res.data.diameters;
                    this.dias = res.data.dia;
                    this.products = res.data;
                })
            },
            setApi() {
                history.pushState(this.api, null, this.filter);
                this.api = this.filter;
                this.getResults();
            },
            setToEtList: function () {
                let that = this;
                this.toEtList = [];
                this.ets.forEach(function (item) {
                    if (item > that.from_et) that.toEtList.push(item);
                })
            },
            setParams() {
                if(this.params.order) this.order = this.params.order;
                if(this.params.brand) this.brand = this.params.brand;
                if(this.params.dia) this.dia = this.params.dia;
                if(this.params.pcd) this.pcd = this.params.pcd;
                if(this.params.diameter) this.diameter = this.params.diameter;
                if(this.params.width) this.width = this.params.width;
                if(this.params.from_et) this.from_et = this.params.from_et;
                if(this.params.toEtList) this.toEtList = this.params.toEtList;
                if(this.params.to_et) this.to_et = this.params.to_et;
                if(this.params.count) this.countProduct = this.params.count;
            },
            addToCart(id, index) {
                this.disks.data[index].inCart = true;
                this.$set(this.disks.data, index, this.disks.data[index]);
                this.$root.addToBasket(id, 1);
            },
            removeFromCart(id, index) {
                this.disks.data[index].inCart = false;
                this.$set(this.disks.data, index, this.disks.data[index]);
                this.$root.removeFromBasket(id);
            },
            changeMinPrice() {
                if (this.price[0] < this.min || this.price[0] > this.max || this.price[0] > this.price[1]) this.price[0] = this.min;
            },
            changeMaxPrice() {
                if (this.price[1] > this.max || this.price[1] < this.min || this.price[1] < this.price[0]) this.price[1] = this.max;
            }
        }
    }
    addEventListener("popstate",function(e){
        location.reload();
    },false);
</script>

<style>
    .page-item.active .page-link {
        background-color: #e90a0b;
        border-color: #e90a0b;
    }

    .page-item .page-link:hover, .page-item .page-link:focus {
        box-shadow: none;
    }

    .page-item .page-link {
        color: #212529;
    }

    .pagination {
        padding: 5px;
    }

    button {
        outline: none !important;
    }

    .filter .mda-btn {
        padding: 10px;
    }
</style>
