<template>
    <div class="container-fluid product-card-container d-flex">
        <div class="container">
            <div class="row product-cards-wrapper my-4 py-1">
                <div class="col-12 product-card">
                    <div class="row">
                        <div class="col-lg-6 product-preview">
                            <div class="row">
                                <div class="col-12 text-center py-3">
                                    <h6>{{disk.name}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 product-preview-img text-center py-5">
                                    <img v-if="disk.photo" onerror="this.src='/img/no_photo.png'" :src="disk.photo" :alt="disk.model" class="img-fluid">
                                    <img v-else src="/img/no_photo.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-7 product-description">
                                    <div class="row">
                                        <div class="col-12 text-left pt-3">
                                            <h5>Характеристики:</h5>
                                        </div>
                                    </div>
                                   <!-- <div class="row product-description-info py-3">
                                        <div class="col-12 text-left">
                                            <h6>Тип: <span>{{disk.wheel_type}}</span></h6>
                                        </div>
                                    </div>-->
                                    <div class="row product-description-info py-3">
                                        <div class="col-12 text-left">
                                            <h6>Диаметр: <span>{{disk.diameter}}</span></h6>
                                        </div>
                                        <div class="col-12 text-left">
                                            <h6>Ширина диска: <span>{{disk.width}}</span></h6>
                                        </div>
                                    </div>
                                    <div class="row product-description-info py-3">
                                        <div class="col-12 text-left">
                                            <h6>DIA: <span>{{disk.dia}}</span></h6>
                                        </div>
                                        <div class="col-12 text-left">
                                            <h6>PCD: <span>{{disk.pcd}}</span></h6>
                                        </div>
                                        <div class="col-12 text-left">
                                            <h6>ET: <span>{{disk.et}}</span></h6>
                                        </div>
                                    </div>
                                  <!--  <div class="row product-description-info py-3">
                                        <div class="col-12 text-left">
                                            <h6>Страна-производитель: <span></span></h6>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="col-lg-5 d-none d-lg-block product-delivery">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 pt-3 text-left delivery-header">
                                                    <h5>Доставка по Украине:</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3 delivery-ico-wrapper d-flex align-items-center justify-content-center">
                                                    <i class="fa fa-truck" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-9 delivery-info align-items-center justify-content-center">
                                                    <div class="row">
                                                        <div class="col-12 text-left">
                                                            <h6>Доставка от 35грн</h6>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 text-left">
                                                            <h6>Срок доставки 1-3 дня</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 pt-3 text-left delivery-header">
                                                    <h5>Удобный способ оплаты:</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3 delivery-ico-wrapper d-flex align-items-center justify-content-center">
                                                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-9 delivery-info align-items-center justify-content-center">
                                                    <div class="row">
                                                        <div class="col-12 text-left">
                                                            <h6>Оплата картой</h6>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 text-left">
                                                            <h6>Наличными на складе</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row product-price-row">
                                <div class="col-5 d-flex align-items-center justify-content-center product-counter">
                                    <button @click="decrementCount"  :disabled="isDisabled" class="circle-btn"
                                            :class="{isDisabled: isDisabled}">-</button>
                                    <span class="product-counter mx-3">{{count}}</span>
                                    <button @click="incrementCount" :disabled="isDisabled" class="circle-btn"
                                            :class="{isDisabled: isDisabled}">+</button>
                                </div>
                                <div class="col-7 product-price-wrapper">
                                    <span class="product-price">
                                        {{(disk.end_rozn_price * count).toFixed(2)}} грн
                                    </span>
                                </div>
                            </div>
                            <div class="row" v-if="!inCart">
                                <div class="col-12 text-center">
                                    <button @click="addToCart" class="mda-btn">В корзину</button>
                                </div>
                            </div>
                            <div class="row" v-else="inCart">
                                <div class="col-12 text-center">
                                    <button @click="removeFromCart" class="mda-btn isDisabled">Убрать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DiskOpen",
        props: {
            data: String
        },
        data: function () {
            return {
                count: 1,
                inCart: false,
                isDisabled: false
            }
        },
        computed: {
            disk() {
                return JSON.parse(this.data)
            },
        },
        mounted() {
            this.inCart = this.$cookies.isKey(this.disk.product_id);
            this.isDisabled = this.$cookies.isKey(this.disk.product_id);
            this.count = this.$cookies.isKey(this.disk.product_id) ? this.$cookies.get(this.disk.product_id) : 1;
        },
        methods: {
            incrementCount() {
                if (this.count <= 200) this.count++;
            },
            decrementCount() {
                if (this.count > 1) this.count--;
            },
            addToCart() {
                this.inCart = true;
                this.isDisabled = true;
                this.$root.addToBasket(this.disk.product_id, this.count);
            },
            removeFromCart() {
                this.inCart = false;
                this.isDisabled = false;
                this.count = 1;
                this.$root.removeFromBasket(this.disk.product_id);
            }
        },
    }
</script>

<style scoped>
    button {
        outline: none !important;
    }

    .isDisabled {
        opacity: .6;
    }
</style>